/* Content general for website */
.toast-container {
  position: fixed;
  bottom: 5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Content for mobile */
@media (max-width: 576px) {
  .toast-container {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    width: calc(100% - 2rem);
    max-width: 400px;
    padding: 0 1rem;
  }

  .toast {
    width: 100%;
  }
}
